.footer {
  width: 100%;
  text-align: center;
  background-color: #011f50;
  padding: 2%;
  color: #f2f2f2;
}

.footer-logo {
  display: inline-block;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-image: url("../../images/ypo-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.footer-text {
  margin: 16px;
}

.footer-subtext {
  font-size: 0.9rem;
  font-style: italic;
}
